<h2>Linux Containers Installed on this MIAB:</h2>

<div class="container">
	<div class="">
		<form class="form-inline" role="form" onsubmit="function(); return false;">
			<div class="form-group">
				
				
			</div>	
			<div class="form-group">
				
				
			</div>	
			<div class="form-group">
				
				
			</div>
			<button type="submit" class="btn btn-primary">Create Container</button>
		</form>
	</div>
	<br />
	<h3>Running Containers:</h3>
	<div class="col-md-6">
		
	</div>
	<h3>Stopped Containers:</h3>
	<div class="col-md-6">
		
	</div>
</div>